.in-touch{
    margin-top:173px;margin-bottom:218px;
    @media(max-width:767px){
        text-align:center;margin:10% 0;
    }
    h2{
        font-size:48px;font-weight:bold;text-transform:uppercase;margin-bottom:26px;font-family: akrobat-extrabold;
        @media(max-width:767px){
            font-size:35px;
        }
    }
    ul{
        li{
            font-size:30px;font-family:akrobat-bold;
            @media(max-width:767px){
                font-size:20px;margin-bottom:30px;
            }
        }
    }
}