.banner{
    height:100vh;
    @media(min-width:767px) and (min-height:1000px){
        height:60vh;
    }
    .container-fluid{
        height:100%;
        @media(max-width:767px){
            height:50%;text-align:center;
        }
    }
    .row{
        height:100%;
    }
    .col-md-6{
        height:100%;
        &:first-child{
            background:black;color:$gold;@include flex();
            h1{
                font-size:200px;word-wrap: wrap;text-transform: uppercase;font-family:avenir;
                @media(max-width:1200px){
                    font-size:150px;
                }
                @media(max-width:1000px){
                    font-size:100px;
                }
                @media(max-width:767px){
                    font-size:40px;
                }
                br{
                    @media(max-width:767px){
                        display: none;
                    }
                }
                @media(max-width:1000px) and (min-height:1000px){
                    font-size:100px;
                }
            }
        }
        &:last-child{
            @include flex();padding:0 128px;
            @media(max-width:1130px){
                padding:0 80px;
            }
            @media(max-width:1000px){
                padding:0 30px;
            }
            h3{
                font-size:36px;font-family:akrobat-extrabold;
                @media(max-width:1000px){
                    font-size:30px;
                }
                @media(max-width: 767px){
                    font-size:25px;
                }
            }
            p{
                font-size:24px;line-height:38px;font-family:akrobat-regular;
                @media(max-width:767px){
                   font-size:16px;line-height:25px;
                }
            }
            button{
                font-size:24px;padding:10px 18px;width:408px;background:transparent;border:1px solid black;
                a{
                    font-size:24px;font-family:akrobat-light;text-decoration:none;color:black;display: flex;justify-content:space-between;
                    @media(max-width:1000px){
                        font-size:20px;
                    }
                    @media(max-width:767px){
                        font-size:15px;
                    }
                    img{
                        height:10px;margin:auto 0;
                        @media(max-width:767px){
                            height:5px;
                        }
                    }
                }
                @media(max-width:1000px){
                    width:350px;
                }
                @media(max-width:767px){
                    width:max-content + 10px;padding:10px 5px;
                }
                @media(max-width:500px){
                    width:210px;
                }
            }
        }
     
    }
}