@font-face{
    font-family:"akrobat-regular";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-Regular.otf"),
        url("./Akrobat/TTF/Akrobat-Regular.ttf"),
        url("./Akrobat/WEB/Akrobat-Regular.eot"),
        url("./Akrobat/WEB/Akrobat-Regular.woff"),
        url("./Akrobat/WEB/Akrobat-Regular.woff2");
}
@font-face{
    font-family:"akrobat-bold";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-Bold.otf"),
        url("./Akrobat/TTF/Akrobat-Bold.ttf"),
        url("./Akrobat/WEB/Akrobat-Bold.eot"),
        url("./Akrobat/WEB/Akrobat-Bold.woff"),
        url("./Akrobat/WEB/Akrobat-Bold.woff2");
        
}
@font-face{
    font-family:"akrobat-extrabold";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-ExtraBold.otf"),
        url("./Akrobat/TTF/Akrobat-ExtraBold.ttf"),
        url("./Akrobat/WEB/Akrobat-ExtraBold.eot"),
        url("./Akrobat/WEB/Akrobat-ExtraBold.woff"),
        url("./Akrobat/WEB/Akrobat-ExtraBold.woff2");
}
@font-face{
    font-family:"akrobat-extralight";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-ExtraLight.otf"),
        url("./Akrobat/TTF/Akrobat-ExtraLight.ttf"),
        url("./Akrobat/WEB/Akrobat-ExtraLight.eot"),
        url("./Akrobat/WEB/Akrobat-ExtraLight.woff"),
        url("./Akrobat/WEB/Akrobat-ExtraLight.woff2");
}
@font-face{
    font-family:"akrobat-light";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-Light.otf"),
        url("./Akrobat/TTF/Akrobat-Light.ttf"),
        url("./Akrobat/WEB/Akrobat-Light.eot"),
        url("./Akrobat/WEB/Akrobat-Light.woff"),
        url("./Akrobat/WEB/Akrobat-Light.woff2");
}
@font-face{
    font-family: "akrobat-bold";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-Bold.otf"),
        url("./Akrobat/TTF/Akrobat-Bold.ttf"),
        url("./Akrobat/WEB/Akrobat-Bold.eot"),
        url("./Akrobat/WEB/Akrobat-Bold.woff"),
        url("./Akrobat/WEB/Akrobat-Bold.woff2");
}
@font-face{
    font-family:"akrobat-semibold";
    font-style:normal;
    src: url("./Akrobat/OTF/Akrobat-SemiBold.otf"),
        url("./Akrobat/TTF/Akrobat-SemiBold.ttf"),
        url("./Akrobat/WEB/Akrobat-SemiBold.eot"),
        url("./Akrobat/WEB/Akrobat-SemiBold.woff"),
        url("./Akrobat/WEB/Akrobat-SemiBold.woff2");
}
@font-face{
    font-family:"avenir";
    font-style:normal;
    src: url("./AvenirNext-UltraLight.ttf");
    
}

